
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
	font-family: century-gothic, sans-serif;
	background-color: rgb(10,10,10) !important;
	padding-top: 0px;
	min-height: 150px;
	margin: 0;
	display:flex;
	flex-direction:column;
}

a {
}

p {
	margin:2px;
}
h1 {
    color: red;
	margin: 14px;
}
h2 {
    color: white;
}

h3 {
	color: red;
}

h4 {
	color: white;
	margin: 15px;
}

h5 {
	color: white;
	margin: 20px;
}

h6 {
	color: white;
}

label {
	color: white;
}

.decals h4 {
	color: White;
  vertical-align: bottom;
  margin: 14px;
}

.decals h5 {
	color: DodgerBlue;
	margin: 12px;
  vertical-align: center;
  -webkit-animation: colorchange 4s infinite alternate;
}

.decals h6 {
	color: #8f8f8f;
  font-size: 12px;
	margin: 8px;
  vertical-align: bottom;
}

.gearcalc h6 {
	color: red;
	margin: 22px;
}

p {
    color: Khaki;
}

button.enter {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: black;
  outline-width: 2px;
  color: #fff;
  background-color: red;
  border-style:none;
  border: none;
  border-radius: 25px 20px;
  box-shadow: 0 9px #999;
}

button.enter:hover {background-color: red}
button:focus {
  outline: none;
 
}

button.enter:active {
  background-color: #ca0000;
  box-shadow: 0 0px #666;
  transform: translateY(4px);
  outline: black;
  outline-width: 2px;
}

/* unvisited link */
a:link {
  color: DodgerBlue;
}

/* visited link */
a:visited {
  color: DodgerBlue;
}

/* mouse over link */
a:hover {
  color: grey;
}

/* selected link */
a:active {
  color: red;
}

padlist {

	padding-right: 25%;

	padding-left: 25%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.decals img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 250px;
  object-fit: contain;

}

.gearcalc img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 92%;
}

.container {
	font-size: 150%;
	padding-right: 10%;
	padding-left: 10%;
}

.widecontainer {
	font-size: 150%;
	padding-right: 2%;
	padding-left: 2%;
}

.text-center {
	text-align: center;
}

.navbar {
  font-family: century-gothic;
  margin: 0;
  font-weight: bold;
  overflow: hidden;
  background-color: #333;
}

/* Links inside the navbar */
.navbar a {
  font-family: century-gothic;
  float: left;
  font-size: 16px;
  color: white;
  border: none;
  outline: none;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  font-family: century-gothic;
  font-weight: bold;
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-family: century-gothic;
  font-weight: bold;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.navbar div.active {
	background-color: red;
	color: white;
}

.navbar a.active {
	background-color: red;
	color: white;
}

.dropdown a.active {
	background-color: grey;
	color: white;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  font-family: century-gothic;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.contest-list h2 {
	color: White;
  margin: 16px;
  vertical-align: bottom;
}

.contest-list h3 {
	color: rgb(255, 0, 0);
  size: 12px;
  margin: 16px;
  vertical-align: bottom;
}

.contest-list h4 {
	color: White;
  margin: 16px;
  vertical-align: bottom;
}

.contest-list h5 {
	color: DodgerBlue;
	margin: 16px;
  vertical-align: bottom;
}

.contest-list h6 {
	color: #282828;
	margin: 12px;
  vertical-align: bottom;
}

ul.contest-list li {
	word-wrap: break-word;
  vertical-align: top;
    display: inline-block; /* this creates the catalog effect */
    text-align: left; /* align the image to center */
    background-color: red; /* For browsers that do not support gradients */
	  background-image: linear-gradient(to top, rgb(40, 40, 38), rgb(30, 30, 32));
    font-family: century-gothic;
    border-radius: 10px; /* rounded borders effect */
    border: 2px solid black; /* border and color */
	padding: 8px;
	margin: 2px 0px;
}

/* Links inside the dropdown */
.dropdown-content a {
  font-family: century-gothic;
  float: none;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: lightgrey;
  color: black;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

ul {
	width: 95%;
    margin: 0 auto;
	transform: translate(45);
}

ul.decals li {
	word-wrap: break-word;
  vertical-align: top;
  height: 369px;
    width: 400px; /* adjust the size of the catalog block */
    display: inline-block; /* this creates the catalog effect */
    text-align: center; /* align the image to center */
    background-color: red; /* For browsers that do not support gradients */
	background-image: linear-gradient(to bottom, rgb(80, 80, 78), rgb(40, 40, 42));
    font-family: century-gothic;
    border-radius: 10px; /* rounded borders effect */
    border: 2px solid black; /* border and color */
	padding: 5px;
	margin: 2px 0px;
}

.in-out-wrapper {
  border: 0px solid #282828;
  overflow: hidden;
}
.in-wrapper {
  display: inline-block;
  width:72%;
  min-width: 900px;
  float: left;
}
.out-wrapper {
  display: inline-block;
  width:28%;
  min-width: 300px;
  float: center;
}

.bordered-div{
  border: 6px solid #282828;
  border-radius: 6px;
}

#printlist2 {
  padding-top: 20px;
  text-align: center;
  align-items: center;
}

ul.gearcalc {
  width: 98%;
}

ul.gearcalc li {
    width: 23%; /* adjust the size of the catalog block */
    height: 190px;
    vertical-align: top;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 1000px 1000px;
    display: inline-block; /* this creates the catalog effect */
    text-align: center; /* align the image to center */
    background-color:#282828 ; /* background color of each */
    font-family: century-gothic;
    border-radius: 10px; /* rounded borders effect */
    border: 4px solid black; /* border and color */
    transition: height 0.25s ease-in, border 0.25s ease-in;
	padding: 8px 0px;
	margin: 0px 0px;
}

ul.gearcalc li:hover {
  background-position: center bottom;
  height: 250px;
  border: 4px solid red;
  transition: height 0.25s ease-in, border 0.25s ease-in;
}

ul.decal-menu {
  width: 80%;
  padding-top: 10px;
}

ul.decal-menu li {
    width: fit-content; /* adjust the size of the catalog block */
    vertical-align: top;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 1000px 1000px;
    display: inline-block; /* this creates the catalog effect */
    text-align: center; /* align the image to center */
    background-color: #282828; /* background color of each */
    font-family: century-gothic;
    font-weight: bold;
    color: #f9f9f9;
    border-radius: 15px; /* rounded borders effect */
    border: 4px solid rgb(0, 0, 0); /* border and color */
    transition: height 0.25s ease-in, border 0.25s ease-in;
	padding: 8px 12px;
	margin: 2px 0px;
}

ul.decal-menu li:hover {
  background-position: center bottom;
  background-color: red;
  transition: height 0.1s ease-in, background-color 0.25s ease-in;
}

ul.decal-menu .active {
  background-color: rgb(240, 50, 0);
  padding: 10px 14px;
}

.gearcalc-printout {
  vertical-align: top;

  text-align: center; /* align the image to center */
  background-color:#282828 ; /* background color of each */
  font-family: century-gothic;
  border-radius: 10px; /* rounded borders effect */
  border: 3px solid black; /* border and color */
  padding: 8px 18px;
  margin: 1px 25px;
}

ul.printlist li {
    width: 10%; /* adjust the size of the catalog block */
    text-align: left; /* align the image to center */
    background-color:#282828 ; /* background color of each */
    font-family: century-gothic;
    border-radius: 4px; /* rounded borders effect */
    border: 0px solid black; /* border and color */
	padding: 1px 1px;
	margin: 2px 2px;
}

input.gearcalc {
color: green;
}

.gearcalc-top {
  vertical-align: top;
  height: 60px;
  }
  
  .gearcalc-bottom {
    vertical-align: bottom;
  }

input[type=submit]:hover {
  background-color: darkred;
}

input[type=number], select {
  font-size: 100%;
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=text], select {
  font-size: 100%;
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=number] {
  border: none;
  border-bottom: 2px solid red;
}

input[type=text] {
  border: none;
  border-bottom: 2px solid red;
}

input[type=number]:focus {
  background-color: lightred;
}

input[type=button], input[type=submit], input[type=reset] {
	width: 12%;
	font-size: 100%;
  background-color: red;
  border: 2px solid black;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  border-radius: 16px 12px;
  position: center;
  margin: 8px;
  left: 50%;
  font-family: century-gothic;
  font-weight: bold;

  cursor: pointer;
}

.background_box {
  width: 40%;
  height: 30%;
  border-radius: 25px;  
  background: rgb(10, 10, 10);
  outline: none;
  opacity: 1.0;
}

.color_box {
  width: 210px;
  height: 180px;
  border-radius: 15px; 
  padding: 15px;  
  background: rgb(120, 135, 150);
  outline: none;
}

.blue_slider {
  -webkit-appearance: none;
  width: 80%;
  height: 15px;
  border-radius: 5px;  
  background: blue;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.green_slider {
  -webkit-appearance: none;
  width: 80%;
  height: 15px;
  border-radius: 5px;  
  background: green;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.red_slider {
  -webkit-appearance: none;
  color: red;
  width: 80%;
  height: 15px;
  border-radius: 5px;  
  background: red;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.green_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: white;
  cursor: pointer;
}

.blue_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: white;
  cursor: pointer;
}

.red_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: white;
  cursor: pointer;
}

.red_slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

.green_slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

.blue_slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

.decal-catalog h4 {
	color: White;
}

.decal-catalog h6 {
	color: DodgerBlue;
	margin: 8px;
}

 ul.decal-catalog li {
	word-wrap: break-word;
  vertical-align: top;
  height: 350px;
    width: 23%; 
    display: inline-block; 
    text-align: center;
    background-color: red; 
	background-image: linear-gradient(to bottom, rgb(80, 80, 78), rgb(40, 40, 42));
    font-family: 'Noto Sans';
    border-radius: 10px; 
    border: 2px solid black; 
	padding: 5px;
	margin: 2px 0px;
} 

.decal-catalog img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 250px;
  object-fit: contain;
}

.decal-catalog-top {
vertical-align: top;
}

.decal-catalog-bottom {
  vertical-align: bottom;
}

@-webkit-keyframes colorchange {
  0% {
    color: rgb(30, 173, 255);
  }
  50% {
    color: rgb(102, 196, 233);
  }
  100% {
    color: cyan;
  }
}