:root {
  --red1: rgb(110, 12, 12);
  --red2: rgb(140, 18, 18);
  --red3: rgb(170, 24, 24);
  --red4: rgb(200, 30, 30);
  --red5: rgb(230, 36, 36);
  --white1: rgb(235, 235, 240);
  --white2: rgb(200, 200, 200);
  --white3: rgb(180, 180, 180);
  --grey1: rgb(60, 60, 65);
  --grey2: rgb(50, 50, 55);
  --grey3: rgb(40, 40, 45);
  --grey4: rgb(30, 30, 35);
  --blue1: rgb(50, 50, 180);
  --blue2: rgb(60, 60, 210);
  --black1: rgb(5, 5, 5);
  --shade1: rgba(100, 100, 110, 0.15);
  --shade2: rgba(100, 100, 110, 0.3);
  --shade3: rgba(100, 100, 110, 0.4);
  --backgroundgradient: linear-gradient(0.25turn, #090909, #111111, #090909);
}

body {
  font-family: Arial;
  background: var(--backgroundgradient);
  /* background-repeat: no-repeat;  */
  min-height: 150px;
  margin: 0;
  text-align: center;
  /* display:inline-block; */
  /* flex-direction:column; */
}

a {
  color: var(--blue2);
  margin: 0.75em;
}

p {
  color: var(--white1);
  margin: 0.75em;
}

h1 {
  color: var(--red5);
  font-size: 3em;
  margin: 0.75em;
}

h2 {
  color: var(--white1);
  margin: 0.75em;
}

h3 {
  color: var(--white1);
  margin: 0.75em;
}

h4 {
  color: var(--white1);
  margin: 0.75em;
}

h5 {
  color: var(--white1);
  margin: 0.75em;
}

h6 {
  color: var(--grey1);
  margin: 0.75em;
}

label {
  color: var(--white1);
  margin: 0.75em;
}

.redtext {
  color: var(--red5);
  margin: 0.75em;
}

/* Formatting for the navigation bar - class "navbar" */

.navbar {
  font-weight: bold;
  overflow: hidden;
  margin: 10px 5px 20px 5px;
  border-radius: 5px;
  background-color: none;
}

.navbar a {
  float: left;
  font-size: 110%;
  color: white;
  border: none;
  outline: none;
  text-align: center;
  padding: 10px 14px;
  padding-bottom: 11px;
  margin: 6px;
  text-decoration: none;
  background-color: var(--grey1);
  border-radius: 6px;
  box-shadow: 0 0px var(--red4);
}

.navbar img {
  display: inline-block;
  /* float: left; */
  padding-left: 6px;
  padding-right: 16px;
  width: 50px;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  color: var(--white1);
  background-color: var(--grey2);
  border-radius: 6px;

  transition: height 0.1s ease-in, box-shadow 0.1s linear, background-color 0.15s ease-in;
}

.navbar a.active {
  background-color: var(--red4);
  color: white;
  border-radius: 6px;
  box-shadow: 0 0px 8px var(--red1);
}

.navbar a.active:hover {
  background-color: var(--red5);
  color: white;
  border-radius: 6px;
}

/* Formatting for buttons - class "button" */

.button {
  font-weight: bold;
  padding: 10px 15px;
  margin: 10px 15px;
  border-width: 2px;
  border-style: solid;
  border-color: var(--red2);
  text-align: center;
  width: fit-content;
  background-color: var(--red4);
  border-radius: 8px;
  color: var(--white1);
  display: inline-block;
  font-size: 110%;
  cursor: pointer;
  box-shadow: 0 6px var(--red1);
  transition: transform 0.1s linear, box-shadow 0.1s linear, background-color 0.1s linear;
}

.button:hover {
  background-color: var(--red5);
  box-shadow: 0 3px var(--red2);
  transform: translate(0px, 3px);
  /* Offset position on hover */
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  border: 0px solid var(--grey2);
  border-radius: 10px;
  /* padding: 10px; */
  justify-content: center;
  text-align: center;
}

.radio {
  text-align: left;
  padding-left: 8px;
}

input[type=number] {
  display: inline;
  background-color: var(--white1);
  font-size: 140%;
  border-radius: 2px;
  padding: 4px 9px;
  border: 1px solid var(--grey1);
  max-width: 120px;
  text-align: justify;
}

.box {
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: var(--shade3);
  border: 2px solid var(--grey2);
  vertical-align: middle;
  padding: 0px;
  margin: 10px 5px;
}

.boxcrimson {
  background-color: var(--red2);
  border: 2px solid var(--red1);
}

.box200 {
  max-width: 200px;
  width: 200px;
}

.box300 {
  max-width: 300px;
  width: 300px;
}

.box60h {
  max-height: 46px;
  height: 46px;
}

.box120h {
  max-height: 106px;
  height: 106px;
}

.box180h {
  max-height: 166px;
  height: 166px;
}
